.span4.offset4.text-center
	.row
		%h1 CS106A
		%h4 Course Materials
		%hr
.span4.offset4
	.row
		%p Programming Methodology (CS106A) is one of the most popular courses taught at Stanford. The videos and exercises from this class have been used by participants as an intro to programming methodology.
		%hr
.span4.offset4
	.row
		%h5 Handouts
		%p 
			Handouts can be downloaded from the 
			%a{href:"http://www.stanford.edu/class/cs106a/handouts/", target: "_blank"} cs106a website. 
		%a{href:"https://dl.dropbox.com/u/925640/CS106A%20Handouts.zip", target: "_blank"} Download all handouts (.zip)
		%hr
.span4.offset4
	.row
		%h5 Assignments
		%p 
			The lectures are accompanied by assignments
			%a{href:"http://www.stanford.edu/class/cs106a/assignments/", target: "_blank"} assignments.
		%hr
.span4.offset4
	.row
		%h5 Lectures
		%p
			Video lectures are available
			%a{href: "http://www.youtube.com/watch?v=KkMDCCdjyW8&list=SP84A56BC7F4A1F852", target: "_blank"} here.