.span4.offset4
	.row
		%h1 code = law
		%h4 Stanford Legal Technology Meetup
		%hr
.span4.offset4
	.row
		%p Code = law brings together law students, computer scientists and legal innovators interested in technologies that have the potential to increase access to justice @ Stanford Law School.
		%hr
.span4.offset4
	.row
		%h5 Next code = law
		%p
		%p October 8 2013, Room 79A, Stanford Law School (Basement).
		%a See calendar >>
		%hr
.span4.offset4
	.row
		%h5 Activities
		%p Some of the reasons why you may want to attend code = law:
		%ul
			%li Get an introduction to computer programming.
			%li Learn about and discuss law and technology topics.
			%li Find collaborators to work on legal tech project.
		%hr
.span4.offset4
	.row
		%h5 Resources
		%a CodeHS
		%p A great application to get familiar with basic programming concepts, used by many code = law attendants.
		%a CS106A
		%p Programming Methodology (CS106A) is one of Stanford's most popular courses.
		%hr
.span4.offset4
	.row
		%h5 Organize your own 
		%p Download resources to organize your own code = law meetup.
		%ul
			%li Template Emails
			%li Handouts
			%li Resources
		.btn.btn-large.btn-success Download Package