.span4.offset4.text-center
	.row
		%h1 code = law
		%h4 Tech Literacy for (Future) Lawyers
		%hr
.span4.offset4
	.row
		%p Code = law brings together law students, computer scientists and legal innovators interested in technologies that have the potential to increase access to justice @ Stanford Law School.
		%hr
.span4.offset4
	.row
		%h5 Next code = law session
		%p
		%p October 8 2013, Room 79A, Stanford Law School (Basement).
		%a See calendar >>
		%hr
.span4.offset4
	.row
		%h5 Activities
		%p Some of the reasons why you may want to attend code = law:
		%ul
			%li Get an introduction to computer programming.
			%li Listen to talks and discuss law and technology topics.
			%li Find collaborators to work on a legal technology project.
		%p Code = law is not a class. It is a regular legal tech meetup sponsored by the Stanford Center for Legal Informatics. 
		%hr
.span4.offset4
	.row
		%h5 Resources
		%a{href:"http://www.codehs.com"} CodeHS
		%p A great application to get familiar with basic programming concepts, used by many of the code = law attendants.
		%a{href:""} CS106A
		%p Programming Methodology (CS106A) is one of Stanford's most popular courses. Class materials are available online.
		%a{href:"http://www.amazon.com/gp/product/0321486129/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=coisla-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0321486129", target: "_blank"} The Art and Science of Java
		%p The handbook used in Stanford CS106A (Programming Methodology) is ”The Art and Science of Java” by E. Roberts.
		%hr
.span4.offset4
	.row
		%h5 Organize your own 
		%p We think every law school should have its own code = law, so we've compiled some resources for you to download and use.
		.btn.btn-large Download Toolkit
		%hr
.span4.offset4
	.row
		%h5 Sponsored by
		%img{scr:"http://www.law.stanford.edu/sites/default/files/event/373177/media/slspublic/codex.jpg"}