.span4.offset4.text-center
	.row
		%h1 code = law
		%h4 Tech Literacy for (Future) Lawyers
.span4.offset4
	.row
		%p.text-center Code = law brings together law students in a collaborative environment geared towards learning about technology in general and its applications to law. We help you code, too.
		%hr
.span4.offset4
	.row.text-center
		%a.text-center{href:"https://docs.google.com/a/lawgives.com/forms/d/1OajiW0PbSivN7AmcZLJ1R4dUpGwlvbZTpFN7FV8uX2o/viewform", target:"_blank"}
			.btn.btn-xlarge.btn-info.text-center Sign up for code = law
		%hr
.span4.offset4
	.row
		%h5 Next code = law
		%p
		%p October 9 2013, Stanford Law School.
		%a{href:"https://www.google.com/calendar/embed?src=5frintp6bld2vipggiu1c4q6d4%40group.calendar.google.com&ctz=America/Los_Angeles", target: "_blank"} See calendar >>
		%hr
.span4.offset4
	.row
		%h5 Activities
		%p Some reasons to attend (or organize your own) code = law:
		%ul
			%li Get an introduction to computer programming.
			%li Listen to talks and discuss law and technology topics.
			%li Find collaborators to work on a legal technology project.
		%hr
.span4.offset4
	.row
		%h5 Resources
		%p
			%a{href:"http://www.codehs.com"} CodeHS
			\- Great app to get familiar with basic programming.
		%p 
			%a{href:"home/cs106a"} CS106A
			\- Stanford's most popular cs course.
		%p
			%a{href:"http://www.amazon.com/gp/product/0321486129/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=coisla-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0321486129", target: "_blank"} The Art and Science of Java
			\- CS106A Handbook.
		%hr
.span4.offset4
	.row
		%h5 Organize
		%p We think every law school should have its own code = law, so we're compiling some resources for you to download and use.
		.btn.btn-large.disabled Download Toolkit (coming soon)
		%hr
.span4.offset4
	.row
		%h5 Contacts
		%p
			%a{href:"mailto:pgunst@stanford.edu"} Pieter Gunst
		%p
			%a{href:"mailto:elowell@stanford.edu"} Elizabeth Lowell
		%p
			%a{href:"mailto:amwang@stanford.edu"} Angela Wang
		%p
			%a{href:"mailto:robertdswanson@gmail.com"} Robert Swanson
		%hr
.span4.offset4
	.row
		%h5 Sponsors
		#home
		%hr
.span4.offset4
	.row
		%p.text-center.font-size-small.pull-left
			Created by 
			%a{href:"http://www.twitter.com/digitallawyer"} @digitallawyer
			using code = law learnings.
		%a{href:"http://creativecommons.org/licenses/by/3.0/", target:"_blank"}
			%img.ib.pull-right{src:"http://i.creativecommons.org/l/by/3.0/80x15.png"}
